doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    title straycat
    link(rel='stylesheet', type='text/css', href='style.css')
    script(src='script.js')

  body
    .nav.nav-main
      h1 straycat
      p hello world
    .content
      .content-main
        .item-box
          .item-content
            img(src='http://gaopin-preview.bj.bcebos.com/134202380693.jpg')
        |
        .item-box
          .item-content
            img(src='http://gaopin-preview.bj.bcebos.com/134202426905.jpg')
        |         
        .item-box
          .item-content
            img(src='http://gaopin-preview.bj.bcebos.com/134202417255.jpg')
        |         
        .item-box
          .item-content
            img(src='http://gaopin-preview.bj.bcebos.com/134202452491.jpg')
        |         
        .item-box
          .item-content
            img(src='http://gaopin-preview.bj.bcebos.com/134202426760.jpg')
        |         
        .item-box
          .item-content
            img(src='http://gaopin-preview.bj.bcebos.com/134202410322.jpg')
        |         
        .item-box
          .item-content
            img(src='http://gaopin-preview.bj.bcebos.com/134202345874.jpg')
        |         
        .item-box
          .item-content
            img(src='http://gaopin-preview.bj.bcebos.com/134202477363.jpg')
    footer
      p this is footer
      // <p>this is footer</p>
      // <p id="msg"></p>
